# Citbike System Data Analysis

In [6]:
# Load packages
import sys
sys.path.append('../code/')
from extract import *
import pandas as pd

In [8]:
# Load the data
bucketname = "tripdata"
files = ["201901-citibike-tripdata.csv.zip",
         "201902-citibike-tripdata.csv.zip",
         "201903-citibike-tripdata.csv.zip",
         "201904-citibike-tripdata.csv.zip",
         "201905-citibike-tripdata.csv.zip",
         "201906-citibike-tripdata.csv.zip",
         "201907-citibike-tripdata.csv.zip",
         "201908-citibike-tripdata.csv.zip",
         "201909-citibike-tripdata.csv.zip",
         "201910-citibike-tripdata.csv.zip",
         "201911-citibike-tripdata.csv.zip",
         "201912-citibike-tripdata.csv.zip",]
tablename = "bike"
engine = getData(bucketname, files, tablename)

In [9]:
query = """select distinct [start station name] from bike"""
station_count = pd.read_sql_query(query, engine).count()
print(station_count)

start station name    938
dtype: int64

In [13]:
query = """select * from bike limit 10"""
table = pd.read_sql_query(query, engine)
table

,index,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,0,320,2019-01-01 00:01:47.4010,2019-01-01 00:07:07.5810,3160,Central Park West & W 76 St,40.778968,-73.973747,3283,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,1
1,1,316,2019-01-01 00:04:43.7360,2019-01-01 00:10:00.6080,519,Pershing Square North,40.751873,-73.977706,518,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,1
2,2,591,2019-01-01 00:06:03.9970,2019-01-01 00:15:55.4380,3171,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,1
3,3,2719,2019-01-01 00:07:03.5450,2019-01-01 00:52:22.6500,504,1 Ave & E 16 St,40.732219,-73.981656,3709,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,1
4,4,303,2019-01-01 00:07:35.9450,2019-01-01 00:12:39.5020,229,Great Jones St,40.727434,-73.993790,503,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,1
5,5,535,2019-01-01 00:08:33.1790,2019-01-01 00:17:28.3540,3630,Frederick Douglass Blvd & W 115 St,40.803865,-73.955931,3529,Lenox Ave & W 130 St,40.810792,-73.943068,30315,Subscriber,1989,2
6,6,280,2019-01-01 00:09:21.0060,2019-01-01 00:14:01.1510,3675,3 Ave & E 95 St,40.784597,-73.949685,3288,E 88 St & 1 Ave,40.778301,-73.948813,35391,Subscriber,1987,1
7,7,1547,2019-01-01 00:11:22.9070,2019-01-01 00:37:10.0550,285,Broadway & E 14 St,40.734546,-73.990741,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,35551,Subscriber,1981,1
8,8,300,2019-01-01 00:12:17.9310,2019-01-01 00:17:18.8300,3394,Columbia St & W 9 St,40.676999,-74.006471,3398,Smith St & 9 St,40.674696,-73.997858,18636,Subscriber,1990,2
9,9,123,2019-01-01 00:12:19.6030,2019-01-01 00:14:23.1040,432,E 7 St & Avenue A,40.726218,-73.983799,3656,E 2 St & Avenue A,40.723077,-73.985836,35206,Subscriber,1987,1

In [10]:
station_list = pd.read_sql_query('SELECT DISTINCT [start station name], '
                                 '[start station id], '
                                 '[start station latitude], '
                                 '[start station longitude] '
                                 'FROM bike ', engine)                               
station_list

,start station name,start station id,start station latitude,start station longitude
0,Central Park West & W 76 St,3160.0,40.778968,-73.973747
1,Pershing Square North,519.0,40.751873,-73.977706
2,Amsterdam Ave & W 82 St,3171.0,40.785247,-73.976673
3,1 Ave & E 16 St,504.0,40.732219,-73.981656
4,Great Jones St,229.0,40.727434,-73.993790
...,...,...,...,...
1049,E 91 St & 2 Ave,3305.0,40.782000,-73.950000
1050,1 Ave & E 62 St,3142.0,40.761000,-73.962000
1051,Meserole Ave & Manhattan Ave,3110.0,40.728000,-73.953000
1052,Morgan Ave & Maspeth Ave,3854.0,40.716000,-73.935000
1053,Irving Ave & Jefferson St,3759.0,40.704000,-73.926000